html {
  height: 100%;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

header {
  display: flex;
  border-bottom: 1px solid #d3d6da;
  height: 65px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title {
  font-family: "arial";
  font-size: 32px;
  letter-spacing: 0.01em;
  font-weight: 700;
}

.game-module {
  width: 100%;
  max-width: 500px;
  height: calc(100% - 65px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.gameboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.gameboard {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.gameboard-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.gameboard-row.shake {
  animation-name: gameboard-row-shake;
  animation-duration: 600ms;
}

.gameboard-box {
  width: 100%;
  border: 2px solid#d3d6da;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  user-select: none;
  height: 100%;
}
  
.filled-box {
  border: 2px solid #878a8c;
}

.gameboard-box[data-boxcolor="grey-box"] {
  background-color: #787c7e;
  border: 2px solid #787c7e;
  color: white;
}

.gameboard-box[data-boxcolor="yellow-box"] {
  background-color: #c9b458;
  border: 2px solid #c9b458;
  color: white;
}

.gameboard-box[data-boxcolor="green-box"] {
  background-color: #6aaa64;
  border: 2px solid #6aaa64;
  color: white;
}

.gameboard-box[data-animation="pop"] {
  animation-name: gameboard-box-pop;
  animation-duration: 100ms;
}

.gameboard-box[data-animation="flip-in"] {
  animation-name: gameboard-box-flip-in;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}
  
.gameboard-box[data-animation="flip-out"] {
  animation-name: gameboard-box-flip-out;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

.keyboard {
  height: 200px;
  margin: 0 8px;
  user-select: none;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.spacer {
  flex: 0.5;
}

.keyboard-button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background: #d3d6da;
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}

.keyboard-button:last-of-type {
  margin: 0;
}

.keyboard-button[data-keyboardcolor="green"] {
  background-color: #6aaa64;
  color: white;
}

.keyboard-button[data-keyboardcolor="yellow"] {
  background-color: #c9b458;
  color: white;
}

.keyboard-button[data-keyboardcolor="grey"] {
  background-color: #787c7e;
  color: white;
}

#enter-button,
#delete-button {
  flex: 1.5;
  font-size: 12px;
}

@keyframes gameboard-row-shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}

@keyframes gameboard-box-pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes gameboard-box-flip-in {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes gameboard-box-flip-out {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}