body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin: 0px;
}

#gameboard {
  display: grid;
  grid-gap: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 319px;
  height: 382px;
  padding: 10px;
  margin: auto;
}
  
.gameboard-box {
  display: flex; 
  border: 2px solid#d3d6da;
  font-size: 2.5px;
  font-weight: 700;
  height: 55px;
  width: 55px;
  text-transform: uppercase;
}
  
.filled-box {
  border: 2px solid black;
}
  
.gameboard-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}


#keyboard {
  height: 200px;
  align-items: center;
}

#keyboard div {
  display: flex;
}

.keyboard-row {
  margin: 0 auto 8px;
  width: 484px;
}

#spacer {
  flex: 0.5;
}

.keyboard-button {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  border: 0px;
  background:#d3d6da;
  height: 58px;
  margin: 0 6px 0 0;
  cursor: pointer;
  padding: 0; 
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-button:last-of-type {
  margin: 0;
}

#enter-button,
#delete-button {
  flex: 1.5;
  font-size: 12px;
}

